.container {
    padding: 5rem 3rem 20rem 3rem;
    background-color: black;
    color: white;
}

.inner__container {
    display: flex;
    justify-content: space-between;
}

.content {
    font-size: 55px;
    line-height: 70px;
}

.footer__link {
    display: block;
    text-decoration: none;
    color: white;
}

.footer__link__right {
    text-align: right;
}

.footer__link:hover {
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s ease;
}

.coming__soon {
    display: flex;
    width: 100%;
    justify-content: center;
}

.coming__soon__container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 20px;
    border-radius: 4px;
    font-size: 34px;
    margin-top: 50px;
}

@media only screen and (max-width: 620px) {
    .container {
        padding: 2rem 1rem 20rem 1rem;
    }

    .inner__container {
        flex-direction: column;
    }

    .content {
        font-size: 42px;
        line-height: 70px;
    }
}