.navigation {
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.navigation__link {
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.navigation__link:hover {
    color: rgba(0, 0, 0, 0.4);
    transition: color 0.3s ease;
}