.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.image__containerOdd {
    position: relative;
    grid-column: 1 / span 2;
}

.image__containerEven {
    position: relative;
    grid-column: 2 / span 2;
}

.image__containerEven:hover .round__button {
    display: block;
}

.image__containerOdd:hover .round__button {
    display: block;
}

.round__button {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.linkText {
    display: grid;
    place-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.image__containerEven .round__button {
    transition: opacity 0.3s ease-in-out;
}

.image__containerOdd .round__button {
    transition: opacity 0.3s ease-in-out;
}

.image {
    width: 100%;
    height: 60vh;
    object-fit: contain;
}

.text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__title {
    padding: 30px;
    font-size: 2vw;
}